@media only screen and (min-width:480px) {
    .clientescard {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(6, 1fr);
    }

    h6 {
        width: 100%;
        margin: 5px;
        padding: 0px;
    }
    
    .menufoto {
        grid-template-columns: 200px;
    }

    .Cuadrado {
        grid-template-columns: 1fr;

    }

    
}

@media only screen and (min-width:768px) {
    .clientescard {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        justify-content: space-around;
        padding: 30px;
        margin: 10px;

    }

    .datos {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        text-align: center;
    }

    .contenedor-servicios {
        text-align: center;
        display: flex;
        flex-direction: row;
    }

    .prueba1:hover {
        transform: translateY(-1%);
    }

    .prueba2:hover {
        transform: translateY(-1%);
    }

    .prueba3:hover {
        transform: translateY(-1%);
    }

    .servicios {
        text-align: center;
    }

    .contenedor-presupuestos {
        text-align: center;
        display: flex;
        flex-direction: row;
        grid-template-rows: repeat(3, 1fr);
    }

    .columna1:hover {
        transform: translateX(-1%);
    }

    .columna2:hover {
        transform: translateX(-1%);
    }

    .columna3:hover {
        transform: translateX(-2%);
    }
}