* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

/* font-family: 'Libre Baskerville', serif; */

//paleta de colores//
$color1: #6879F5;
$blanco: #fff; 
$negro: #000;
$clarito: #D1D0D0;
$color2: #faebd7;

//Fuentes letras//
$Fuente1: 'Times New Roman', Times, serif;
$Fuente2: 'Libre Baskerville';

//Tamaño letras//
$Letra100: 100px;
$Letra60: 60px;
$Letra35: 35px;
$Letra30: 30px;
$Letra25: 25px;
$Letra20: 20px;
$Letra15: 15px;
$Letra10: 10px;

.navbar-brand {
    color:$negro;
    float: left;
    font-weight: bold;
    text-shadow: 0 0 5px $color1;
    a {
        text-decoration: none;
        color:$negro;
    }
        
        span {
            color:$color2;
        }
}      

html {
    scroll-behavior: smooth;
}

.logo {
    color:$blanco;
    float: left;
    font-weight: bold;
    text-shadow: 0 0 5px $color1;
    a {
        text-decoration: none;
        color:$clarito;
    }    

        span {
            color:$color1;
    }
}

.barra {
    float: right;


    ul li {
        list-style: none;
        display: inline-block;
    }
    
    a {
        color:$blanco;
        text-decoration: none;
    }

    &:hover {
        color:$color1;
    }
}

.menufoto {
    height: 100vh;
    width: 100%;
    background-color: $negro;
    background-image: url(../img/laptop-2838921_1920.jpg);
    background-size: cover;
    background-position: left;
    opacity: 80%;
}

.Cuadrado {
    color:$negro;
    width: 10%;
    border: 5px solid black;
    float: left;
    margin: 10px;
    padding: 10px;
    background-color: $clarito;
    opacity: 80%;
    
}


.nuestrosproyectos {
    background-color:$clarito;
    color:$negro;
    margin: 5px;
    text-align: center;
    height: 60px;
}

.datos {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;
}

.ubicacion {
    background-color:$clarito;
    color: $negro;
    margin: 5px;
    text-align: center;  
    height: 60px;
}

.lugar {
    text-align: center;
}

.botonmapa{
    font-size: $Letra100;
}

.llamar {
    text-align: center;
}

.botonllamar {
    font-size: $Letra100;
}


.carousel {
    margin: 10px;
}

.clientescard {
    text-align: center;
    padding: 10px;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12, 1fr);
}

h6 {
    color: $negro;
    background-color: $clarito;
    text-align: center;
    font-size: $Letra60;
    margin: 10px;
    width: 100%;
}

.card {
    padding: 10px;
    margin: 5px;
}

@media only screen and (min-width:480px) {
    .clientescard {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(6, 1fr);
    }

    h6 {
        width: 100%;
        margin: 5px;
        padding: 0px;
    }
    
    .menufoto {
        grid-template-columns: 1fr;
    }

    .Cuadrado {
        grid-template-columns: 1fr;

    }

    
}

@media only screen and (min-width:768px) {
    .clientescard {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        justify-content: space-around;
        padding: 30px;
        margin: 10px;

    }

    .datos {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        text-align: center;
    }

    .contenedor-servicios {
        text-align: center;
        display: flex;
        flex-direction: row;
    }

    .servicios {
        text-align: center;
    }

    .contenedor-presupuestos {
        text-align: center;
        display: flex;
        flex-direction: row;
        grid-template-rows: repeat(3, 1fr);
    }
}

footer {
    background-color: $negro;
    color: $blanco;
    text-align: center;
    padding: 30px;
    font-size: $Letra20;
}

footer p {
    margin-bottom: 20px;
}

.redes a {
    color: $clarito;
    text-decoration: none;
    font-size: $Letra30;
    text-align: center;
}

.subir {
    height: 35px;
    width: 35px;
    background-color: $clarito;
    position: fixed;
    bottom: 10px;
    right: 10px;
    text-align: center;
    color:$blanco;
    line-height: 35px;
    font-size: $Letra35;
    box-shadow: 0 0 5px $blanco;
    border-radius: 50%;
}

.empresa {
    color:$negro;
    width: auto;
    border: 3px solid $negro;
    margin: 20px 20px;
    padding: 20px 30px;
    font-size: $Letra15;
    text-align: center;
    background-color: $clarito;
    font-family: $Fuente1;
}

.empresa span {
    color:$color1;
    font-family: $Fuente2;
    font-weight: bold;
}

.empresa p2 {
    font-family: $Fuente2;
}

.Contacto {
    color:$negro;
    background-color: $clarito;
    width: auto;
    border: 3px solid $negro;
    margin: 20px;
    padding: 20px;
    text-align: center;
}

.portfolio {
    color:$negro;
    width: auto;
    border: 3px solid $negro;
    margin: 20px 20px;
    padding: 20px 30px;
    font-size: $Letra10;
    text-align: center;
    background-color: $clarito;
    font-family: $Fuente1;
}

.portfolio span {
    color:$color1;
    font-family: $Fuente2;
    font-weight: bold;
    font-size: $Letra20;
}

.cliente1 {
    padding: 10px;
    margin-left: 100px;
    text-align: center;
    font-size: large;
    width: 300px;
    font-size: $Letra15;
}

.cliente1 span {
    padding: 10px;
    margin-top: 10px;
    font-size: $Letra25;
    text-align: center;
}

.cliente2 {
    padding: 10px;
    margin-left: 100px;
    text-align: center;
    font-size: large;
    width: 300px;
    font-size: $Letra15;
    margin-top: 15px;
}

.cliente2 span {
    padding: 10px;
    margin-top: 10px;
    font-size: $Letra25;
    text-align: center;
}

.cliente3 {
    padding: 10px;
    margin-left: 100px;
    text-align: center;
    font-size: large;
    width: 300px;
    font-size: $Letra15;
    margin-top: 15px;
}

.cliente3 span {
    padding: 10px;
    margin-top: 10px;
    font-size: $Letra25;
    text-align: center;
}

.cliente4 {
    padding: 10px;
    margin-left: 100px;
    text-align: center;
    font-size: large;
    width: 300px;
    font-size: $Letra15;
    margin-top: 15px;
}

.cliente4 span {
    padding: 10px;
    margin-top: 10px;
    font-size: $Letra25;
    text-align: center;
}

.cliente5 {
    padding: 10px;
    margin-left: 100px;
    text-align: center;
    font-size: large;
    width: 300px;
    font-size: $Letra15;
    margin-top: 15px;
}

.cliente5 span {
    padding: 10px;
    margin-top: 10px;
    font-size: $Letra25;
    text-align: center;
}

.menuservicio {
    color:$negro;
    width: 100%;
    margin-top: 5px;
    margin-left: 1px;
    border: 3px solid black;
    font-size: 10px;
    background-color:$clarito;
    font-family: $Fuente1;
}

.menuservicio span {
    color:$color1;
    font-family: $Fuente2;
    font-weight: bold;
    font-size: 30px;
    margin: 5px;
}

.prueba1 {
    margin: 10px;
    border: 3px solid black;
    text-align: center;}

.prueba1 h3 {
    font-size: $Letra30;
    margin: 10px;
}

.prueba1 img {
    width: 250px;
    margin: 10px;
}

.prueba2 {
    margin: 10px;
    border: 3px solid $negro;
    text-align: center;}

.prueba2 h3 {
    font-size: $Letra30;
    margin: 10px;
}

.prueba2 img {
    width: 250px;
    margin: 10px;
}

.prueba3 {
    margin: 10px;
    border: 3px solid black;
    text-align: center;}

.prueba3 h3 {
    font-size: $Letra30;
    margin: 10px;
}

.prueba3 img {
    width: 250px;
    margin: 10px;
}

.presupuestos {
    color:$negro;
    width: auto;
    border: 3px solid $negro;
    margin: 5px 5px;
    padding: 10px 10px;
    font-size: $Letra10;
    text-align: center;
    background-color: $clarito;
    font-family: $Fuente1;
    text-align: center;
}


.presupuestos span {
    color:$color1;
    font-family: $Fuente2;
    font-weight: bold;
    font-size: $Letra20;
    font-size: 30px;
}

.columna1 {
    margin: 10px;
    border: 3px solid black;
    text-align: center;}

.columna1 h3 {
    font-size: $Letra30;
    margin: 10px;
}

.columna1 img {
    width: 280px;
    margin: 5px 5px;
}

.columna2 {
    margin: 10px;
    border: 3px solid $negro;
    text-align: center;}

.columna2 h3 {
    font-size: $Letra30;
    margin: 10px;
}

.columna2 img {
    width: 280px;
    margin: 5px 5px;
}

.columna3 {
    margin: 10px;
    border: 3px solid black;
    text-align: center;}

.columnna3 h3 {
    font-size: $Letra30;
    margin: 10px;
}

.columna3 img {
    width: 280px;
    margin: 5px 5px;
}
