@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* font-family: 'Libre Baskerville', serif; */
.menufoto {
  height: 100vh;
  width: 100%;
  background-color: #000;
  background-image: url(../img/laptop-2838921_1920.jpg);
  background-size: cover;
  background-position: left;
  opacity: 80%;
}

.Cuadrado {
  color: #000;
  width: 10%;
  border: 5px solid black;
  float: left;
  margin: 10px;
  padding: 10px;
  background-color: #D1D0D0;
  opacity: 80%;
}

.nuestrosproyectos {
  background-color: #D1D0D0;
  color: #000;
  margin: 5px;
  text-align: center;
  height: 60px;
}

.datos {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  text-align: center;
}

.ubicacion {
  background-color: #D1D0D0;
  color: #000;
  margin: 5px;
  text-align: center;
  height: 60px;
}

.lugar {
  text-align: center;
}

.botonmapa {
  font-size: 100px;
}

.llamar {
  text-align: center;
}

.botonllamar {
  font-size: 100px;
}

.carousel {
  margin: 10px;
}

.clientescard {
  text-align: center;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(12, 1fr);
}

.card {
  padding: 10px;
  margin: 5px;
  width: 100%;
  border-radius: 10px #000;
  cursor: default;
  transition: 1s;
  display: block;
}

.card:hover {
  transform: scale(1.1);
  z-index: 1.2;
}

h6 {
  color: #000;
  background-color: #D1D0D0;
  text-align: center;
  font-size: 60px;
  margin: 10px;
  width: 100%;
}

@keyframes aparecer {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media only screen and (min-width: 480px) {
  .clientescard {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 1fr);
  }
  h6 {
    width: 100%;
    margin: 5px;
    padding: 0px;
  }
  .menufoto {
    grid-template-columns: 200px;
  }
  .Cuadrado {
    grid-template-columns: 1fr;
  }
}
@media only screen and (min-width: 768px) {
  .clientescard {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    justify-content: space-around;
    padding: 30px;
    margin: 10px;
  }
  .datos {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    text-align: center;
  }
  .contenedor-servicios {
    text-align: center;
    display: flex;
    flex-direction: row;
  }
  .prueba1:hover {
    transform: translateY(-1%);
  }
  .prueba2:hover {
    transform: translateY(-1%);
  }
  .prueba3:hover {
    transform: translateY(-1%);
  }
  .servicios {
    text-align: center;
  }
  .contenedor-presupuestos {
    text-align: center;
    display: flex;
    flex-direction: row;
    grid-template-rows: repeat(3, 1fr);
  }
  .columna1:hover {
    transform: translateX(-1%);
  }
  .columna2:hover {
    transform: translateX(-1%);
  }
  .columna3:hover {
    transform: translateX(-2%);
  }
}
footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 30px;
  font-size: 20px;
}

footer p {
  margin-bottom: 20px;
}

.redes a {
  color: #D1D0D0;
  text-decoration: none;
  font-size: 30px;
  text-align: center;
}

.subir {
  height: 35px;
  width: 35px;
  background-color: #D1D0D0;
  position: fixed;
  bottom: 10px;
  right: 10px;
  text-align: center;
  color: #fff;
  line-height: 35px;
  font-size: 35px;
  box-shadow: 0 0 5px #fff;
  border-radius: 50%;
}

.empresa {
  color: #000;
  width: auto;
  border: 3px solid #000;
  margin: 20px 20px;
  padding: 20px 30px;
  font-size: 15px;
  text-align: center;
  background-color: #D1D0D0;
  font-family: "Times New Roman", Times, serif;
}

.empresa span {
  color: #6879F5;
  font-family: "Libre Baskerville";
  font-weight: bold;
}

.empresa p2 {
  font-family: "Libre Baskerville";
}

.Contacto {
  color: #000;
  background-color: #D1D0D0;
  width: auto;
  border: 3px solid #000;
  margin: 20px;
  padding: 20px;
  text-align: center;
}

input:focus {
  font-size: 40px;
  border: 5px dotted gray;
  color: 0;
}

.menuservicio {
  color: #000;
  width: 100%;
  margin-top: 5px;
  margin-left: 1px;
  border: 3px solid black;
  font-size: 10px;
  background-color: #D1D0D0;
  font-family: "Times New Roman", Times, serif;
}

.menuservicio span {
  color: #6879F5;
  font-family: "Libre Baskerville";
  font-weight: bold;
  font-size: 30px;
  margin: 5px;
}

.prueba1 {
  margin: 10px;
  border: 3px solid black;
  text-align: center;
}

.prueba1 h3 {
  font-size: 30px;
  margin: 10px;
}

.prueba1 img {
  width: 250px;
  margin: 10px;
}

.prueba2 {
  margin: 10px;
  border: 3px solid #000;
  text-align: center;
}

.prueba2 h3 {
  font-size: 30px;
  margin: 10px;
}

.prueba2 img {
  width: 250px;
  margin: 10px;
}

.prueba3 {
  margin: 10px;
  border: 3px solid black;
  text-align: center;
}

.prueba3 h3 {
  font-size: 30px;
  margin: 10px;
}

.prueba3 img {
  width: 250px;
  margin: 10px;
}

.presupuestos {
  color: #000;
  width: auto;
  border: 3px solid #000;
  margin: 5px 5px;
  padding: 10px 10px;
  font-size: 10px;
  text-align: center;
  background-color: #D1D0D0;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}

.presupuestos span {
  color: #6879F5;
  font-family: "Libre Baskerville";
  font-weight: bold;
  font-size: 20px;
  font-size: 30px;
}

.columna1 {
  margin: 10px;
  border: 3px solid black;
  text-align: center;
}

.columna1 h3 {
  font-size: 30px;
  margin: 10px;
}

.columna1 img {
  width: 280px;
  margin: 5px 5px;
}

.columna2 {
  margin: 10px;
  border: 3px solid #000;
  text-align: center;
}

.columna2 h3 {
  font-size: 30px;
  margin: 10px;
}

.columna2 img {
  width: 280px;
  margin: 5px 5px;
}

.columna3 {
  margin: 10px;
  border: 3px solid black;
  text-align: center;
}

.columnna3 h3 {
  font-size: 30px;
  margin: 10px;
}

.columna3 img {
  width: 280px;
  margin: 5px 5px;
}

.navbar-brand {
  color: #000;
  float: left;
  font-weight: bold;
  text-shadow: 0 0 5px #6879F5;
}
.navbar-brand a {
  text-decoration: none;
  color: #000;
}
.navbar-brand span {
  color: #faebd7;
}

html {
  scroll-behavior: smooth;
}

.logo {
  color: #fff;
  float: left;
  font-weight: bold;
  text-shadow: 0 0 5px #6879F5;
}
.logo a {
  text-decoration: none;
  color: #D1D0D0;
}
.logo span {
  color: #6879F5;
}

.barra {
  float: right;
}
.barra ul li {
  list-style: none;
  display: inline-block;
}
.barra a {
  color: #fff;
  text-decoration: none;
}
.barra:hover {
  color: #6879F5;
}/*# sourceMappingURL=estilos.css.map */